# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# ML API Configuration
NEXT_PUBLIC_API_MODEL_URL=your_ml_api_endpoint_url
NEXT_PUBLIC_API_MODEL_HEALTH_URL=your_ml_api_health_check_url

# Example:
# NEXT_PUBLIC_API_MODEL_URL=https://your-model-api.hf.space/predict/url
# NEXT_PUBLIC_API_MODEL_HEALTH_URL=https://your-model-api.hf.space/health

# Redis Configuration
UPSTASH_REDIS_REST_URL=your_upstash_redis_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token

# Feature Flags (set 'true' or 'false')
NEXT_PUBLIC_FEATURE_SCAN_HISTORY=false  # Enable/disable scan history feature (sidebar menu & history page)
NEXT_PUBLIC_FEATURE_LEADERBOARD=true    # Enable/disable leaderboard on profile page
NEXT_PUBLIC_FEATURE_RECENT_SCANS=false  # Enable/disable recent scans preview on profile page
